@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

html{
    font-size: 62.5%;
}

.menu {
    background-image: url(../images/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.centered {
    margin-right: 50px;
    font-size: 35px;
}

header {
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}
header {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}
.logo {
    max-height: 70px;
    margin-right: 30px; 
    top: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Abril Fatface';
    font-size: larger;
    background-color: orange;
    border-radius: 15px;
}

li a:hover {
    transform: scale(1.25);
    color: black;
}

h1 {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    color: white;

}

h2{
    font-family: 'titan one';
    color: orange;
    font-weight: 100;
}

h3{
    color: white;
}

.imgmenu {
    height: 800px;
}


.cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.lanches{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: 'Titan One';
    font-weight: 100;   
}

.lanchesimg{
    margin-left: 40px;
    height: 250px;
    border-radius: 100%;

}
.lanchesimg:hover{
    animation: lanches_animation 2s ease-in-out 1s;
}

.lanches_menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Titan One';
    font-weight: 100;
}

.lanches h2{
    font-size: 30px;
    text-align: end;
    margin-right: 40px;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    flex-grow: 1;

}

.lanches p{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-right: 40px;
    flex-grow: 1;
    
}

.lanches h1{
    font-size: 40px;
}

@keyframes lanches_animation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

